color () 
{ 
    ruby $1 | ~/src/bin/jq .status.color
}
fails () 
{ 
    ruby $1 | ~/src/bin/jq .fails
}
failsm () 
{ 
    ruby $1 | ~/src/bin/jq .fails[].message
}
stats()
{
  ruby $1 | jq .statistics
}
 
